body {
    
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgba(237, 242, 252, 1);
}


label {
    font-family: "Cambria", sans-serif;
    color: #343642;
    
}

ul {
    
    font-family: "Cambria", sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

#searchheader{
    
    width: 100%;
    height: 50px;
    background-color: #525568;
    padding-top: 1px;
}

#container {
    
    display: block;
    margin-bottom: 27px;
    width: 900px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(187, 194, 234, 0.6)
    
}

#profbtn {
    
    float: right;
    margin-right: 6px;
    margin-top: 11px;
    border-radius: 10px; 
    background-color:#2f889a;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 90px;
}

.next {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.next:hover, .next:focus, .next:active{
    background-color: rgba(218, 218, 219, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#searchBox {
    width: 279px;
    height: 39px;
    float: left;
    margin-top: 11px;
    margin-left: 6px;
    font-family: "Cambria", sans-serif;
    font-size: 13px;
    color: #5c7598;
    padding-left: 24px;
    padding-right: 8px;
    background-image: url("../img/searchicon.png");
    background-size: 13% auto;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 10px;
}

#headerCon {
    
    margin-top: 0;
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #343642;
}

#homebtn {
    
    float: right;
    margin-right: 6px;
    margin-top: 11px;
    border-radius: 10px; 
    background-color:#767a93;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 90px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

.login2 {
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;   
}

.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

#logoutbtn {
    
   float: right;
    margin-right: 6px;
    margin-top: 11px;
    border-radius: 10px; 
    background-color: #EA504E;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 90px;
}

button:hover {
    opacity: 0.8;
}

.images {  
    float: left; 
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 25px;  
    opacity: 0.75;
    align-items: center;
}

.images #hide-me { 
    display: none;
}

.images:hover { 
    background-color: #abb7c8;
    opacity: 1;
    box-shadow: 5px 5px 2.5px #888888;
    transition: 0.3s;
}

/* Modal CSS */
.modalimg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modContainer { 
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border-radius: 15px;
    background-color: #5c7598; 
}

.modImg { 
    margin: auto; 
    display: block; 
    width: 50%;
    max-width: 500px; 
    border-radius: 15px;
    padding: 10px;
}     

.captionCon, .userName, .description, .tags { 
    margin: auto;
    display: block;
    font-family: "Cambria", sans-serif;
    font-size: 20px; 
    color: whitesmoke;
    width: 70%;
    max-width: 500px;
    padding: 1px; 
    border-radius: 15px;
}

.captionCon { 
    font-size: 20px;
} 
.tagcon {
    margin-top: 5px;
    background-size: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

 .userName { 
    font-size: 15px;
} 

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation - Zoom in the Modal */
.modImg, .captionCon, .userName, .description, .tags { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.images {  
    float: left; 
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin: 25px;  
    opacity: 0.75;
    align-items: center;
}

.images #hide-me { 
    display: none;
}

.images:hover { 
    background-color: #abb7c8;
    opacity: 1;
    box-shadow: 5px 5px 2.5px #888888;
    transition: 0.3s;
}

/* Modal CSS */
.modalimg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modContainer { 
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border-radius: 15px;
    background-color: #5c7598; 
}

.modImg { 
    margin: auto; 
    display: block; 
    width: 50%;
    max-width: 500px; 
    border-radius: 15px;
    padding: 10px;
}     

.captionCon, .userName, .description, .tags { 
    margin: auto;
    display: block;
    font-family: "Cambria", sans-serif;
    font-size: 20px; 
    color: whitesmoke;
    width: 70%;
    max-width: 500px;
    padding: 1px; 
    border-radius: 15px;
}

.captionCon { 
    font-size: 20px;
} 
.tagcon {
    margin-top: 5px;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

 .userName { 
    font-size: 15px;
} 

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation - Zoom in the Modal */
.modImg, .captionCon, .userName, .description, .tags { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
p {
    
    font-size: 16px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}